@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*, ::after, ::before {
    box-sizing: border-box;
}
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    background-color: #5d0172;
    color: #da70c3;
}

 
/* ====================  head-section  ============================*/
#teams{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border: 0.8px solid #da70c3;
    
    
}

#teams div{
    border: 0.8px solid rgb(211, 211, 211);
    border-color:  #da70c3;;
    margin: 15px 0 15px 15px;
    width: 100%;
    background-color: white;
}



div h3{
    
    padding: 8px 0px 8px 2px;
    margin-bottom: 5px;
    color: #da70c3;
    
}

#grupe-a{
    display: block;
    background-color: white;
    margin: 8px 8px 16px 8px;
}
#placar{
   
    margin: 10px 0px 25px 5px;
}

/* ====================  body-section  ============================*/
   
#body-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: 0.8px solid rgb(211, 211, 211);
    border-color:  #da70c3;  
}

#table-content{
    margin: 35px;
    min-width: 300px;  
    border: 0.8px solid rgb(211, 211, 211);
    border-color:  #da70c3;
   
}

#table-content h3{
    color: #da70c3;
}


#table-title{
    background:none;
    color: black;
}

#table{
    display:  block;
    
}


#tbody{
    display:flex;
    justify-content: space-between;
}

#td-p0{
    background-color: white;
}
#tbody div {
    background-color: white;
}

#placar{
    border: 0.8px solid rgb(211, 211, 211);
    border-color:  #da70c3;
    padding: 5px;
    margin-right: 5px;
}

#tbody div p{
   font-size: 13px;
   background-color: white;
}

#board{
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin: 0px 16.5px 20px 0px;
    font-weight: bold;
}

#board-score{
    display: inline-block;
    margin: 4px 18px 0px 0px;
    font-weight: bold;
    
}

#tbody  a{
    display: block;
    margin: 8px 8px 16px 8px;
}
#p-score div{
    margin-bottom: 15px;
}


/* ====================  chaves-section  ============================*/
#chaves-section{
    background-color: white;
}
#chaves-section div{
    display: inline-table;
    text-align: center;
    vertical-align: middle;
    margin: 20px 20px 20px 20px;
    max-width: 230px;
    background-color: white;
}


#oitavas,#quartas,#semis,#finais,#oitavas0,#oitavas1,#oitavas2
,#oitavas3,#oitavas4,#oitavas5,#oitavas6,#oitavas7,#quartas1,
#quartas2,#quartas3,#quartas4,#semis1,#semis2,#finais1{
    border: 0.8px solid rgb(211, 211, 211);
    border-color:  #da70c3;
}



