@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*, ::after, ::before {
    box-sizing: border-box;
}
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

/* GRUPOS DE TIMES */   

#teams{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border: 0.8px solid rgb(211, 211, 211);
    height: 250px;
}

#teams div{
    border: 0.8px solid rgb(211, 211, 211);
    border-color: rgb(179, 178, 178);
    margin: 15px 0 15px 15px;
    width: 100%;
    
}



div h3{
    background-color: rgb(110, 151, 238);
    padding: 8px 0px 8px 2px;
    margin-bottom: 5px;
    color: aliceblue;
}

#grupe-a{
    display: block;
    margin: 8px 8px 16px 8px;
}
#placar{
   
    margin: 10px 0px 25px 5px;
}

/* TABELAS */   
#body-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
}

#table-content{
    background-color: rgb(209, 209, 209);
    margin: 35px;
    min-width: 300px;  
    
}


#table-title{
    background:none;
    color: black;
}

#table{
    display:  block;
}

#thead{
    display:flex;
    justify-content: end;
}

#tbody{
    display:flex;
    justify-content: space-between;
}

#tbody  p{
   font-size: 13px;
}

#board{
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin: 0px 16.5px 20px 0px;
    font-weight: bold;
}

#board-score{
    display: inline-block;
    margin: 4px 18px 0px 0px;
    font-weight: bold;
    
}

#tbody  a{
    display: block;
    margin: 8px 8px 16px 8px;
}
#p-score div{
    margin-bottom: 15px;
}


/* =================================================================*/
#chaves-section{
    margin-top: 100px;
}
#chaves-section div{
    display: inline-table;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(205, 210, 255);
    padding: 10px;
    max-width: 210px;
}



